/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.header {
	color: #ee6e73;
	font-weight: 300;
}

p {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 30px;
}

.default {
	font-size: 1.0rem;
	font-weight: 400;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}