*/*/*/*/*.*
*/*/*/*.*
*/*/*.*
*/*.*
*.*

# Source Files
!/**/*.cpp
!/**/*.h

# Graphics Files
!/**/*.png
!/**/*.grit

# Audio Files
!/**/*.wav
!/**/*.it

# Other Files
!README.md
!icon.bmp

# Exclude Build Folder
build/

# ================== Caveats ================== #
# - It only works with up to 32 subdirectories  #
# - It only excludes files with extensions      #
# ============================================= #