*/*/*/*/*.*
*/*/*/*.*
*/*/*.*
*/*.*
*.*

# Source Files
!/**/*.cpp
!/**/*.h

# Localisation files
!/**/*.lang
!/**/*.py

# Graphics Files
!/**/*.png
!/**/*.grit

# Audio Files
!/**/*.wav
!/**/*.it

# Build Files
!/**/meson.build

# Other Files
!README.md
!icon.bmp

# Exclude Generated Folders
build/
source/localizations/generated/

# Exclude Backup Files
*~
