---
title: Contact
show_in_header: true
excerpt: Contact us to find out more information about Mine DS, the Minecraft inspired 2D voxel game for the Nintendo DS.
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include header.html %}

	<!--Main Content-->
	<div class="container">
		<div class="row">
			<h3 class="header">Contact</h3>
			<div class="divider"></div>
			<br>
			<br>
			<div class="col s12 m9 l8">
				<div class="card-panel container">
					<h3 class="light center">Email</h3>
					<div class="row">
						<form action="mailto:matthew3311999@gmail.com?subject=Mine DS" method="post" enctype="text/plain" class="col s10 offset-s1 container">
							<div class="row input-field">
								<input id="first_name" type="text" name="Name">
								<label for="first_name">Name</label>
							</div>
							<div class="row">
								<textarea id="icon_prefix2" class="materialize-textarea" name="Message" placeholder="Message"></textarea>
							</div>
							<div class="row center">
								<button class="btn waves-effect waves-light">
									Submit
									<i class="material-icons right">send</i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include footer.html %}
	{% include scripts.html %}
	{% include mobile-sidebar-target.html %}
</body>

</html>
