---
title: Download
show_in_header: true
excerpt: Download Mine DS, the modern open source Minecraft inspired game for the Nintendo DS! It captures the essence of Minecraft it in a full featured survival game.
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include header.html %}

	<!--Main Content-->
	<div class="container">
		<div class="section">
			<h2 class="header">Download</h2>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.4.1 - The big bang release!</h4>
				<p>This is a rather small and final release of Mine DS that brings in TNT functionality. In the future the rewrite, Port Craft, will be the only one receiving updates. TNT can be set off by tapping it or destroyed safely by holding the stylus on it. In survival TNT can be crafted on a crafting table using 7 sand and 2 coal. In survival, every block that is destroyed releases an floating item unlike Minecraft.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Port-Craft/releases/download/v0.4.1/Recommended-Version-FAT.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Port-Craft/releases/download/v0.4.1/Emulator-Version-NitroFS-and-FAT.zip">Emulator Version</a>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.4.0 - Caves, lights, and localizations</h4>
				<p>This version brings in localizations, caves, a new lighting engine, and a variety of bug fixes.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.4.0/Recommended-Version-FAT.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.4.0/Emulator-Version-NitroFS-and-FAT.zip">Emulator Version</a>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.3.1 - Bug fixes</h4>
				<p>This version fixes a number of bugs, improves a lot of internal code, and adds water splashes.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.1/FAT-Version.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.1/Emulator-Version.zip">Emulator Version</a>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.3.0 - The boiling water update!</h4>
				<p>This version incorperates the final aspects of survival. Furnaces are now functional and crafting tables work as intended. Water has been added with a physically based water system featuring water preservation.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.0/Recommended-Version-FAT.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.0/Emulator-Version-NitroFS-and-FAT.zip">Emulator Version</a>
			</div>
		</div>
	</div>
	
	{% include footer.html %}
	{% include scripts.html %}
	{% include mobile-sidebar-target.html %}
</body>

</html>
