---
title: Download
show_in_header: true
excerpt: Download Mine DS, the modern open source Minecraft inspired game for the Nintendo DS! It captures the essence of Minecraft it in a full featured survival game.
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include header.html %}

	<!--Main Content-->
	<div class="container">
		<div class="section">
			<h2 class="header">Download</h2>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.4.0</h4>
				<p>This version brings in localizations, caves, a new lighting engine, and a variety of bug fixes.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.4.0/Recommended-Version-FAT.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.4.0/Emulator-Version-NitroFS-and-FAT.zip">Emulator Version</a>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.3.1</h4>
				<p>This version fixes a number of bugs, improves a lot of internal code, and adds water splashes.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.1/FAT-Version.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.1/Emulator-Version.zip">Emulator Version</a>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h4 class="header">v0.3.0</h4>
				<p>This version incorperates the final aspects of survival. Furnaces are now functional and crafting tables work as intended. Water has been added with a physically based water system featuring water preservation.</p>
				<a class="waves-effect waves-light btn" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.0/Recommended-Version-FAT.zip">Recommended Version</a>
				&nbsp;&nbsp;
				<a class="waves-effect waves-light btn green" href="https://github.com/Wolfgange3311999/Mine-DS/releases/download/v0.3.0/Emulator-Version-NitroFS-and-FAT.zip">Emulator Version</a>
			</div>
		</div>
	</div>
	
	{% include footer.html %}
	{% include scripts.html %}
	{% include mobile-sidebar-target.html %}
</body>

</html>
