---
title: Textures
show_in_header: true
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include header.html %}
	
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot valign-wrapper">
			<div class="container">
				<br><br><br><br><br><br>
				<h1 class="header center white-text">Texture Packs</h1>
				<div class="row center">
					<h5 class="header col s12 light grey-text text-lighten-2">For the adventurous</h5>
				</div>
				<div class="row center">
					<a href="#scary-sauce" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_downward</i></a>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="background1.jpg" alt="Max Pack Screenshot"></div>
	</div>
	
	<div class="parallax-container valign-wrapper" id="scary-sauce">
		<div class="section no-pad-bot left-align">
			<div class="container">
				<br><br>
				<h1 class="header center white-text">Scary Sauce</h1>
				<div class="row center">
					<h5 class="header col s12 light grey-text text-lighten-2">A refined texture with a rich colors and a complex look</h5>
				</div>
				<div class="row center">
					<div class="col s5 m4 l5 offset-s1 offset-m2 offset-l1">
						<a href="#scary-sauce" class="btn-large waves-effect waves-light teal lighten-1">Download</a>
					</div>
					<div class="col s5 m4 l5">
						<a href="#scary-sauce" class="btn-large waves-effect waves-light green lighten-1">Website</a>
					</div>
				</div>
				<br><br>
				<a href="#minecraft-default" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_downward</i></a>
			</div>
		</div>
		<div class="parallax"><img src="background2.jpg" alt="Scary Sauce Screenshot"></div>
	</div>
	
	<div class="parallax-container" id="minecraft-default">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m9 l6 offset-s0 offset-m3 offset-l6">
						<br><br><br><br>
						<h1 class="header center white-text">Minecraft Default</h1>
						<div class="row center">
							<h5 class="header col s12 light grey-text text-lighten-2">The familiar look from the renowned game that started it all</h5>
						</div>
						<div class="row center">
							<div class="col s5 m4 l5 offset-s1 offset-m2 offset-l1">
								<a href="#scary-sauce" class="btn-large waves-effect waves-light teal lighten-1">Download</a>
							</div>
							<div class="col s5 m4 l5">
								<a href="#scary-sauce" class="btn-large waves-effect waves-light green lighten-1">Website</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="background3.jpg" alt="Minecraft Default Screenshot"></div>
	</div>
	
	{% include footer.html %}
	{% include scripts.html %}
	{% include mobile-sidebar-target.html %}
</body>

</html>
