---
title: Textures
show_in_header: true
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include header.html %}
	
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot valign-wrapper">
			<div class="container">
				<br><br><br><br><br><br>
				<h1 class="header center white-text">&nbsp;&nbsp;Texture Packs
				
				<a class="btn-floating transparent tooltipped bottom" data-position="bottom" data-delay="50" style="height:15px;width:15px;vertical-align:bottom;" data-tooltip="Max Pack - The default texture" href="http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1238153-x16-1-5-maxpack-v2-0">
						
						<img style="position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:100%;height:100%;vertical-align:bottom;" src="images/help.png">
				</a>
				
				</h1>
				<div class="row center">
					<h5 class="header col s12 light grey-text text-lighten-2">For the adventurous</h5>
				</div>
				<div class="row center">
					<a href="#minecraft-default" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_downward</i></a>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="Max Pack.jpg" alt="Max Pack Screenshot"></div>
	</div>
	
	<div class="parallax-container" id="minecraft-default" style=>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m9 l6 offset-s0 offset-m3 offset-l6">
						<br><br><br><br>
						<h1 class="header center white-text">Minecraft</h1>
						<div class="row center">
							<h5 class="header col s12 light grey-text text-lighten-2">The familiar look from the renowned game that started it all</h5>
						</div>
						<div class="row center">
							<div class="col s5 m4 l5 offset-s1 offset-m2 offset-l1">
								<a href="https://github.com/Wolfgange3311999/Port-Craft/releases/download/v0.4.1/Minecraft.Default.tex" class="btn-large waves-effect waves-light teal lighten-1">Download</a>
							</div>
							<div class="col s5 m4 l5">
								<a href="https://www.minecraft.net/" class="btn-large waves-effect waves-light green lighten-1">Website</a>
							</div>
						</div>
						<br>
						<div class="row center">
							<div class="header col s1 offset-s10 offset-m10 offset-l11">
								<a href="#scary-sauce" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_downward</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="Minecraft Default.jpg" alt="Minecraft Default Screenshot"></div>
	</div>
	
	<div class="parallax-container valign-wrapper" id="scary-sauce">
		<div class="section no-pad-bot left-align">
			<div class="container">
				<h1 class="header center white-text">Scary Sauce</h1>
				<div class="row center">
					<h5 class="header col s12 light grey-text text-lighten-2">A refined texture with a rich colors and a complex look</h5>
				</div>
				<div class="row center">
					<div class="col s5 m4 l5 offset-s1 offset-m2 offset-l1">
						<a href="https://github.com/Wolfgange3311999/Port-Craft/releases/download/v0.4.1/Scary.Sauce.tex" class="btn-large waves-effect waves-light teal lighten-1">Download</a>
					</div>
					<div class="col s5 m4 l5">
						<a href="http://www.planetminecraft.com/texture_pack/csbs-16x16-texturepack/" class="btn-large waves-effect waves-light green lighten-1">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="Scary Sauce.jpg" alt="Scary Sauce Screenshot"></div>
	</div>
	
	{% include footer.html %}
	{% include scripts.html %}
	{% include mobile-sidebar-target.html %}
	
</body>

</html>
