<footer class="page-footer orange">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">About us</h5>
				<p class="grey-text text-lighten-4 default">We are two developers working on our free time. Any help or contributions would be greatly appreciated. Head over to the GitHub page for more information on contibuting.</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Developers</h5>
				<ul>
					<li>
						<a class="white-text" href="https://github.com/Wolfgange3311999">Matthew Scholefield</a>
					</li>
					<li>
						<a class="white-text" href="https://github.com/CoolAs">CoolAs</a>
					</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Support</h5>
				<ul>
					<li>
						<a class="white-text" href="http://gbatemp.net/threads/mine-ds.398892/">GBATemp</a>
					</li>
					<li>
						<a class="white-text" href="mailto://matthew3311999@gmail.com">Email</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Website by
			<a class="orange-text text-lighten-3" href="https://github.com/Wolfgange3311999">Matthew Scholefield</a>
		</div>
	</div>
</footer>
