<div class="navbar-fixed">
	<nav class="red lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="index.html" class="brand-logo">Mine DS</a>
			<ul class="right hide-on-med-and-down">
				{% include navbar-entries.html class="waves-effect waves-light" %}
			</ul>
			<ul id="nav-mobile" class="side-nav">
				{% include navbar-entries.html %}
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
		</div>
	</nav>
</div>
